<form>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="container parentcontainer">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="container parentcontainer">
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    First Name:
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <input type="text" id="firstname" name="firstname" required #firstname="ngModel" 
                      [(ngModel)]="user.FirstName" class="form-control">
                    <div class="text-danger" *ngIf="firstname.invalid && firstname.touched">first name is required</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    Last Name:
                  </div>
                  <div class="col-lg-6 col-md-4">
                    <input type="text" id="lastname" name="lastname" required #lastname="ngModel" class="form-control"
                      [(ngModel)]="user.LastName">
                      <div class="text-danger" *ngIf="lastname.invalid && lastname.touched">last name is required</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    Employee ID:
                  </div>
                  <div class="col-lg-6 col-md-4">
                    <input type="text" id="employeeid" name="employeeid" required #employeeid="ngModel" class="form-control"
                      [(ngModel)]="user.EmployeeId ">
                      <div class="text-danger" *ngIf="employeeid.invalid && employeeid.touched">employeeid is required</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    Project ID:
                  </div>
                  <div class="col-lg-6 col-md-4">
                    <select required #userproject="ngModel" id="userproject" name="userproject" class="form-control"
                      [(ngModel)]="user.ProjectId">
                      <option *ngFor="let p of projects" [ngValue]="p.ProjectId">
                        {{p.ProjectName}}
                      </option>
                    </select>
                    <div class="text-danger" *ngIf="userproject.invalid && userproject.touched">project is required</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <button type="submit" (click)="add()" [disabled]="firstname.invalid || lastname.invalid || employeeid.invalid || userproject.invalid"
                     class="btn btn-light btndefault">{{this.user.UserId ==
                      undefined ? "Add": "Update"}}</button>
                    <button type="button" (click)="reset()" class="btn btn-light btndefault">Reset</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <input type="text" class="form-control" name="search" [(ngModel)]="user.SearchText" placeholder="search...">
      </div>
      <div class="col-lg-2 col-md-2">
        Sort By:
      </div>
      <div class="col-lg-2 col-md-2">
        <button type="button" (click)="sortbyFirstName()" class="btn btn-light btndefault">First Name</button>
      </div>
      <div class="col-lg-2 col-md-2">
        <button type="button" (click)="sortbyLastName()" class="btn btn-light btndefault">Last Name</button>
      </div>
      <div class="col-lg-1 col-md-1">
        <button type="button" (click)="sortbyId()" class="btn btn-light btndefault">Id</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <button type="button" (click)="search()" class="btn btn-light btndefault">Search</button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div *ngFor="let u of users; index as i">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-8 tile">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-3 col-md-3">
                      User ID:
                    </div>
                    <div class="col-lg-2 col-md-2">
                      {{u.UserId}}
                    </div>
                    <div class="col-lg-3 col-md-3">
                      Emp ID:
                    </div>
                    <div class="col-lg-2 col-md-2">
                      {{u.EmployeeId}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-3">
                      First Name:
                    </div>
                    <div class="col-lg-2 col-md-2">
                      {{u.FirstName}}
                    </div>
                    <div class="col-lg-3 col-md-3">
                      Last Name:
                    </div>
                    <div class="col-lg-3 col-md-3">
                      {{u.LastName}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2" style="float: left;">
                <button type="button" (click)="edit(u)" class="btn btn-light btndefault">Edit</button>
                <button type="button" (click)="delete(u)" class="btn btn-light btndefault">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>