<div style="text-align:center">
  <div class="my-alert-center-style">
      <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
    </div>
<h1>
  Project Manager
</h1> 
<nav>
<a routerLink="/addTask"  routerLinkActive="active">Add Task</a> 
<a routerLink="/viewTask" routerLinkActive="active">View Task</a>
<a routerLink="/updateTask" routerLinkActive="active">Update Task</a>
<a routerLink="/addUser"  routerLinkActive="active">Add User</a> 
<a routerLink="/addProject"  routerLinkActive="active">Add Project</a> 
</nav>
<router-outlet></router-outlet>
