<div class="container parentcontainer">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        Project:
      </div>
      <div class="col-lg-6 col-md-6">
        <select id="taskParentProject" name="taskParentProject" #taskParentProject="ngModel" required class="form-control [class.is-invalid]=(taskParentProject.invalid && taskParentProject.touched)"
          [(ngModel)]="task.ProjectId">
          <option *ngFor="let p of projects" [ngValue]="p.ProjectId">
            {{p.ProjectName}}
          </option>
        </select>
        <div class="text-danger" *ngIf="taskParentProject.invalid && taskParentProject.touched">project is required</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        Task:
      </div>
      <div class="col-lg-6 col-md-6 form-group">
        <input type="text" id="taskDescription" name="taskDescription" required #taskDescription="ngModel" [(ngModel)]="task.TaskDescription"
          class="form-control [class.is-invalid]=taskDescription.invalid && taskDescription.touched">
          <div class="text-danger" *ngIf="taskDescription.invalid && taskDescription.touched">task description required</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        Priority:
      </div>
      <div class="col-lg-6 col-md-6">
        <input type="range" min="0" max="10"  class="form-control" [(ngModel)]="task.Priority">
      </div>
      <div class="col-lg-1 col-md-1">
        <label type="text">{{task.Priority}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        Parent Task:
      </div>
      <div class="col-lg-6 col-md-6">
        <select id="parentTask" name="parentTask" class="form-control" [disabled]="!task.ParentTaskEnabled" [(ngModel)]="task.ParentId">
          <option *ngFor="let t of tasks" [ngValue]="t.TaskId">
            {{t.TaskDescription}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <input type="checkbox" class="form-control" (click)="parentTaskCheck()" name="parenttaskchect" [(ngModel)]="task.ParentTaskEnabled">
      </div>
      <div class="col-lg-3 col-md-3">
        Parent Task
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        Start Date:
      </div>
      <div class="col-lg-6 col-md-6">
        <input type="date" (change)="datechange()" [disabled]="task.ParentTaskEnabled" class="form-control" [(ngModel)]="task.StartDate">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        End Date:
      </div>
      <div class="col-lg-6 col-md-6">
        <input type="date" (change)="datechange()" [disabled]="task.ParentTaskEnabled" class="form-control" [(ngModel)]="task.EndDate">
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 text-danger"  *ngIf="startEndDateValidation">
          end date should be greater than start date
        </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        User:
      </div>
      <div class="col-lg-6 col-md-6">
        <select id="taskproject" [disabled]="task.ParentTaskEnabled" name="taskproject" class="form-control" [(ngModel)]="task.UserId">
          <option *ngFor="let u of users" [ngValue]="u.UserId">
            {{u.EmployeeId}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
  
      </div>
      <div class="col-lg-6 col-md-6">
      <button type="button" (click)="add()" type="submit" [disabled]="taskDescription.invalid || taskParentProject.invalid"
        class="btn btn-light btndefault">Add
        Task</button>
      <button type="button" (click)="reset()" class="btn btn-light btndefault">Reset</button>
    </div>
  </div>
</div>