<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="container parentcontainer">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            Project:
          </div>
          <div class="col-lg-6 col-md-6">
            <input type="text" id="projectname" name="projectname" required #projectname="ngModel" class="form-control" [(ngModel)]="project.ProjectName">
            <div class="text-danger" *ngIf="projectname.invalid && projectname.touched">project name is required</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1">
            <input type="checkbox" class="form-control" [(ngModel)]="project.StartEndDateEnabled">
          </div>
          <div class="col-lg-3 col-md-3">
            Set Start and End Date
          </div>
          <div class="col-lg-3 col-md-3">
            <input type="date" (change)="datechange()" class="form-control" [disabled]="!project.StartEndDateEnabled" [(ngModel)]="project.StartDate">
          </div>
          <div class="col-lg-3 col-md-3">
            <input type="date" (change)="datechange()" class="form-control" [disabled]="!project.StartEndDateEnabled" [(ngModel)]="project.EndDate">
          </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-danger"  *ngIf="startEndDateValidation">
              end date should be greater than start date
            </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3">
            Priority:
          </div>
          <div class="col-lg-6 col-md-6">
            <input type="range" min="0" max="10" ng-init="0" class="form-control" [(ngModel)]="project.Priority">
          </div>
          <div class="col-lg-1 col-md-1">
            <label type="text">{{project.Priority}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3">
            Manager ID:
          </div>
          <div class="col-lg-6 col-md-6">
            <select id="projectManager" name="projectManager" class="form-control" [(ngModel)]="project.ManagerId">
              <option *ngFor="let u of users" [ngValue]="u.UserId">
                {{u.EmployeeId}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3">
          </div>
          <div class="col-lg-6 col-md-6">
            <button type="button" [disabled]="projectname.invalid || startEndDateValidation" (click)="add()" class="btn btn-light btndefault">{{this.project.ProjectId == undefined ? "Add": "Update"}}</button>
            <button type="button" (click)="reset()" class="btn btn-light btndefault">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <input type="text" class="form-control" [(ngModel)]="project.SearchText" placeholder="search...">
    </div>
    <div class="col-lg-2 col-md-2">
      Sort By:
    </div>
    <div class="col-lg-2 col-md-2">
      <button type="button" (click)="sortbyStartDate()" class="btn btn-light btndefault">Start Date</button>
    </div>
    <div class="col-lg-2 col-md-2">
      <button type="button" (click)="sortbyEndDate()" class="btn btn-light btndefault">End Date</button>
    </div>
    <div class="col-lg-1 col-md-1">
      <button type="button" (click)="sortbyPriority()" class="btn btn-light btndefault">Priority</button>
    </div>
    <div class="col-lg-2 col-md-2">
      <button type="button" (click)="sortbyComplete()" class="btn btn-light btndefault">Completed</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <button type="button" (click)="search()" class="btn btn-light btndefault">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div *ngFor="let p of projects; index as i">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-8 tile">
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    Project:
                  </div>
                  <div class="col-lg-3 col-md-3">
                    {{p.ProjectName}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    No of Tasks:
                  </div>
                  <div class="col-lg-3 col-md-3">
                    {{p.NoOfTasks}}
                  </div>
                  <div class="col-lg-2 col-md-2">
                    Completed:
                  </div>
                  <div class="col-lg-3 col-md-3">
                    {{p.Completed}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    Start Date:
                  </div>
                  <div class="col-lg-3 col-md-3">
                    {{p.StartDate | date:'MM/dd/yyyy'}}
                  </div>
                  <div class="col-lg-2 col-md-2">
                    EndDate:
                  </div>
                  <div class="col-lg-3 col-md-3">
                    {{p.EndDate | date:'MM/dd/yyyy'}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-1 col-md-1 tile">
              Priority: {{p.Priority}}
            </div>
            <div class="col-lg-2 col-md-2" style="float: left;">
              <button type="button" (click)="update(p)" class="btn btn-light btndefault">Update</button>
              <button type="button" (click)="suspend(p)" class="btn btn-light btndefault">Suspend</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>