nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }

nav a:visited, a:link {
    color: #607D8B;
  }

nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }

nav a.active {
    color: #039be5;
  }

  .row  {
    margin: 5px;
    clear: both;
    vertical-align: middle;
  }

  .col-lg-2,.col-lg-3,.col-lg-1 { 
    width: 150px;
    float: left;
    margin: 2px;
    text-align: left; 
  }

  input, select{
    width: 150px;
  }

  .parentcontainer {
    margin: auto;
  }

  .btndefault {
    margin: 5px;
    background: lightgray;
  }

  input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.tile {
  background: lightgray;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
