<div class="container parentcontainer">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      Project
    </div>
    <div class="col-lg-2 col-md-2">
      <input type="text" class="form-control" [(ngModel)]="criteria.SearchText" placeholder="search...">
    </div>
    <div class="col-lg-3 col-md-3">
      <button type="button" (click)="search()" class="btn btn-light btndefault">Search</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2">
      Sort By:
    </div>
    <div class="col-lg-2 col-md-2">
      <button type="button" (click)="sortbyStartDate()" class="btn btn-light btndefault">Start Date</button>
    </div>
    <div class="col-lg-2 col-md-2">
      <button type="button" (click)="sortbyEndDate()" class="btn btn-light btndefault">End Date</button>
    </div>
    <div class="col-lg-1 col-md-1">
      <button type="button" (click)="sortbyPriority()" class="btn btn-light btndefault">Priority</button>
    </div>
    <div class="col-lg-2 col-md-2">
      <button type="button" (click)="sortbyComplete()" class="btn btn-light btndefault">Completed</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div *ngFor="let t of tasks; index as i">
        <div class="container">
          <div class="row">
            <div class="col-lg-1 col-md-1">
              <h6>Task:</h6>
              <p class="tile tilesize">{{t.TaskDescription}}</p>
            </div>
            <div class="col-lg-2 col-md-2">
              <h6> Parent Task:</h6>
              <p class="tile tilesize">{{t.ParentId}}</p>
            </div>
            <div class="col-lg-1 col-md-1">
              <h6>Priority: </h6>
              <p>{{t.Priority}}</p>
            </div>
            <div class="col-lg-2 col-md-2">
              <h6> Start Date:</h6>
              <label>{{t.StartDate | date:'MM/dd/yyyy'}}</label>
            </div>
            <div class="col-lg-2 col-md-2">
              <h6>End Date:</h6>
              <p>{{t.EndDate | date:'MM/dd/yyyy'}}</p>
            </div>
            <div class="col-lg-3 col-md-3">
              <button type="button" class="btn btn-light btndefault" [disabled]="t.Completed"  (click)="edit(t)">Edit</button>
              <button type="button" class="btn btn-light btndefault" [disabled]="t.Completed" (click)="endTask(t)">End Task</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>